@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
      @apply font-[Ruda];    
      @apply overscroll-none w-[100%];
  }
  html {
    @apply scroll-smooth;
  }
  /* .content {
    @apply bg-darkText mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg min-h-screen;
  } */
  /* .content {
    @apply bg-darkText w-[80vw] h-[80vh] sm:h-[60vh] mt-[10vh] landscape:mt-[20vh] mx-auto;
  } */
  .mobile-menu-open {
    @apply fixed inset-0 overflow-y-hidden flex flex-col w-screen h-screen items-center bg-darkText opacity-[98%] p-4 z-auto;
  }

  /* .custom-underline {
    background-image: linear-gradient(to right, currentColor 0%, transparent 100%);
      background-repeat: repeat-x;
      background-size: 100% 3px;
      background-position: 0 100%;
    } */

  .custom-button {
  min-width: 150px;
  height: 45px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
  border: 2px solid #99de8d;
  color: white;
  }
  .custom-button:hover {
    color: #222;
    font-weight: 800;
    border: 2px solid #39ff14;
    scale: 1.05;
  }
  .custom-button:hover:after {
    width: 100%;
  }
  .custom-button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #39ff14;

  }

}

